* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#F3F5FC;
    font-family: 'Inter';
    min-height: 100vh;
 
    
}

header {
    width: 20%;
}

#logo {
    margin: 1rem 1.3rem;
}

.main {
    display: flex;
    justify-content: center;
}

.secao-input {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    width: 60%;
    
}

.campo-input {
    background-color: #F3F5FC;
    border: 1px hidden #F3F5FC;
    font-family: 'Inter';
    font-size: 1.2rem;
    height: 50%;
    width: 100%;
    
}

.campo-input::placeholder {
    color: #0A3871;
    font-size: 1.5rem;
    text-align: start;
}

.secao-output {
    background-color: #FFFF;
    border: 1px solid #FFF;
    box-sizing: border-box;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    margin: 0 1% 3% 4%;
    height: 37rem;
    width: 25%;
    align-items: center;
    justify-content: center;
}


.campo-output {
    background-image: url("./images/pessoinha1x.png");
    background-repeat: no-repeat;
    border-style: none;
    background-position: center;  
    font-family: 'Inter';
    font-size: 1.2rem;
    height: 75%;
    padding: 0.7rem;
    width: 100%;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;

}

#clipboardcopy {
    justify-content: center;
    align-items: center;
    background-color: #FFFF;
    border: 1px solid #495057;
    border-radius: 24px;
    color: #495057;
    font-size: 1rem;
    height: 4rem;
    width: 100%;
  
}

#clipboardcopy:hover {
    background-color: #E8BE3A;
    color: #0A3871;
}


.informacao {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin: 8rem 0 1rem 0;
}

.informacao img {
    margin: 0.3rem 0.25rem 0 0;
    height: 15px;
    width: 15px;
}

.botoes {
    display: flex;
    flex-direction: row;
  
}


.encriptar {
    background-color: #0A3871;
    border: 1px hidden #0A3871;
    border-radius: 24px;
    color: #FFFF;
    font-size: 1rem;
    height: 4rem;
    width: 20rem;
    margin-right: 1.5rem;
    
}

.encriptar:hover {
    background-color: #D8DFE8;
    color:#0A3871;
}



.desencriptar {
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    font-size: 1rem;
    height: 4rem;
    width: 20rem;
    
}

.desencriptar:hover {
    background-color: #0A3871;
    color: #FFFF;
}

footer {
    background-color: #E8BE3A;
    color:#0A3871;
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

a {
    color: #0A3871;
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    font-size: 1.2rem;
}

/* Responsividade */

/* TABLET */
@media screen and (max-width: 768px){

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 100vw;

    }

    .secao-input {
        height: 70%;
    }

    .informacao {
        margin-top: 7%;
    }

    .secao-output {
        border-color: #0A3871;
        height: 25%;
        width: 80%;

    }

    .campo-output {
        background-image: none;
        height: 65%;
        width: 80%;
    }

}

/* CELULAR */

@media screen and (max-width: 480px) {

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }

    .campo-input::placeholder {
        font-size: 22px;
    }
    .botoes {
        flex-direction: column;
    }

    .encriptar, .desencriptar {
        border-radius: 18px;
        font-size: 14px;
        height: 3rem;
        width: 70%;
        
    }

    .encriptar {
        margin: 4% 0 8% 0;
    }

    .secao-output {
        height: 20%;
        width: 85%;
        margin: auto;

    }

    .campo-output {
        background-image: none;
        height: 65%;
        width: 80%;
    }

    #clipboardcopy {
        color:#2b2d30
    }

}
